[Unit]
Description = Rhole is simple web server honeypot.

[Service]
# Rhole Daemon Execute User
User = rhole

# Simple Application
Type = simple

# Service Start Command
ExecStart = /opt/rocinax/rhole/bin/rholed

# Service Stop Command
ExecStop = /bin/kill -HUP $MAINPID    

# Sercvice Reload Command
ExecReload = /bin/kill -HUP $MAINPID && /opt/rocinax/rhole/bin/rholed

# Always Restart Process
Restart = always

[Install]
# Multi User Taget Mode ... Over Than Init3
WantedBy = multi-user.target
